# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/src/__tests__/out

# production
/lib
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.gitignore.*
